div.admin-panel{
    margin:5px;
    padding:5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
#logo{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   border-radius: 10px;
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
   padding:0 20px;
}
#close{
        float: right;
        display:block;
        width: 30px;
        padding: 5px;
        height: auto;
    }
    nav{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        height: 100vh;
        background-color: white;
        z-index: 100;
        font-family: sans-serif;
        padding: 1%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li{
        padding-right: 0;
        padding-bottom: 10px;
        text-decoration: none;
    }
    #actions{
        padding: 10px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #actions button{
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color:#DDA15E;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    a{
        text-decoration: none;
        color: #BC6C25;
    }
    div#action-content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    h3{
        color:#283618;
    }